

<div class="container">
  <nav class="navbar navbar-expand-lg" style="background-color: #df9f9f;" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">R E D E S </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Instagram: @yasbeck.mc</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Facebook: Yasbeck Mora</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Twitch: /LaJassie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">♥</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="assets\yoop.jpg" class="card-img-small" alt="Jass">
      <div class="card-body">
        <h5 class="card-title">A b o u t . M e</h5>
        <p class="card-text">♥ Mi nombre es Yasbeck Mora, tengo 21 años y soy estudiante de Ingeniería
          en Tecnologías de la Información. Amo los gatos, el terror y los videojuegos. A veces dibujo cuando 
          me siento mal o si estoy demasiado aburrida, yyyy me gusta la comida China, las parrilladas y el Encebollado :3</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets\miles y gwen.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">P e l i s . F a v</h5>
        <p class="card-text">♥ Amo las pelis de terror, acción, Misterio, Thriller, animadas, fantasía, y creo que
          tal vez algunas más. Mi saga Favorita de Acción es The Maze Runner, y mi saga favorita de Terror es El Conjuro.
          Las pelis de Doraemon, Barbies y princesas me definen, y por último Mi peli favorita del momento es Spider-Man: A travez del Spiderverso ♥.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets\badbunny.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">M u s i c a . F a v</h5>
        <p class="card-text">♥ Me gustan diversos tipos de canciones, puedo escuchar de todo menos el Vallenato, feisimo
          eso jajaja. En cuanto a Artistas favoritos, mi spotify dice que los que mas he escuchado recientemente son Bad Bunny, Feid, Metro Boomin y Pitbull asi que weno
          toca hacerle caso a Spotify :D
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="assets\juegos.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">J u e g o s . F a v</h5>
        <p class="card-text">♥ E jugado una variedad de juegos, tanto en cel como en pc y playstation, yo no 
          me hago líos. En si puedo decir que me gustan los Battle Royale, Mundo abierto, RPGs,
          pero los juegos que más me gustan son los que tienen Historia, preferiblemente terror o misterios. 
          Y teniendo en cuenta eso, puedo decir que mi juego favorito es Alice Madness Returns, que basicamente 
          es la historia de Alicia en un país de las maravillas todo grotesco y sangriento, con mounstros horribles
          y un gato todo creepy jaja.</p>
      </div>
    </div>
  </div>
</div>
